{
    "openapi": "3.1.0",
    "info": {
        "title": "Ploi Cloud API",
        "version": "1.0.0",
        "description": "Ploi Cloud API for managing containerized applications on Kubernetes clusters. Use API keys to authenticate and manage applications, services, deployments, and more."
    },
    "servers": [
        {
            "url": "https:\/\/ploi.cloud\/api\/v1"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "\/applications": {
            "get": {
                "operationId": "applications.index",
                "description": "Retrieve a paginated list of applications for the current team. Applications can be filtered by status\nand searched by name. The response includes basic application information along with associated domains\nand services.",
                "summary": "List applications",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "stopped",
                                "deploying",
                                "failed"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "applications.store",
                "description": "Create a new containerized application in the current team. The application will be deployed to the cloud\nplatform with automatic SSL certificate provisioning. Laravel applications receive default build and init\ncommands automatically. WordPress applications can either use a Git repository or a persistent volume for\nfile storage.",
                "summary": "Create application",
                "tags": [
                    "Application"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 4,
                                        "maxLength": 32
                                    },
                                    "region": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "social_account_id": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ]
                                    },
                                    "provider": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "repository_owner": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "repository_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "repository_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri",
                                        "maxLength": 500
                                    },
                                    "default_branch": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "application_type": {
                                        "type": "string",
                                        "enum": [
                                            "laravel",
                                            "wordpress",
                                            "statamic",
                                            "craftcms",
                                            "nodejs",
                                            "php"
                                        ]
                                    },
                                    "application_version": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "php_version": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "enum": [
                                            "8.5",
                                            "8.4",
                                            "8.3",
                                            "8.2",
                                            "8.1",
                                            "8.0",
                                            "7.4"
                                        ]
                                    },
                                    "wordpress_use_volume": {
                                        "type": [
                                            "boolean",
                                            "null"
                                        ]
                                    },
                                    "statamic_use_git_integration": {
                                        "type": [
                                            "boolean",
                                            "null"
                                        ]
                                    },
                                    "webroot_path": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 100
                                    },
                                    "source_type": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "enum": [
                                            "git",
                                            "upload"
                                        ]
                                    },
                                    "scheduled_deletion_at": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "date-time"
                                    }
                                },
                                "required": [
                                    "name",
                                    "application_type"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}": {
            "get": {
                "operationId": "applications.show",
                "description": "Retrieve comprehensive information about a specific application including its configuration, domains,\nservices, and secrets. Only accessible to team members with appropriate permissions.",
                "summary": "Get application details",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "applications.update",
                "description": "Update application configuration including name, build commands, and initialization commands.\nModifying build or init commands will automatically mark the application as needing deployment.\nChanges to commands will take effect on the next deployment.",
                "summary": "Update application",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "webroot_path": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "scheduled_deletion_at": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "date-time"
                                    },
                                    "build_commands": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "init_commands": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "applications.destroy",
                "description": "Permanently delete an application and all associated resources including services, deployments,\nsecrets, and platform resources. This action cannot be undone. The application environment\nwill be removed from the platform.",
                "summary": "Delete application",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/deploy": {
            "post": {
                "operationId": "applications.deploy",
                "description": "Initiate a new deployment for the application. This will trigger a build process that clones the\nrepository, builds an image, and deploys it to the platform. Any pending or running deployments\nwill be automatically cancelled. The deployment runs asynchronously and progress can be tracked\nvia the deployments endpoint.\n\nWhen skip_build is true, the deployment will reuse the container image from the most recent\nsuccessful deployment instead of building a new one. This is useful for quick redeployments\nwhen only configuration changes are needed. Returns 422 if no previous successful deployment exists.",
                "summary": "Deploy application",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "branch": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "skip_build": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        202
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/rollback": {
            "post": {
                "operationId": "applications.rollback",
                "description": "Rollback an application to a previous successful deployment by rebuilding from its commit SHA.\nThis triggers a full rebuild targeting the specific commit rather than reusing an old image.",
                "summary": "Rollback application",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "deployment_id": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "deployment_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        202
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/suspend": {
            "post": {
                "operationId": "applications.suspend",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Application suspension initiated."
                                            ]
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "null"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "errors"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Application is already suspended."
                                                    ]
                                                },
                                                "errors": {
                                                    "type": "null"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "errors"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/resume": {
            "post": {
                "operationId": "applications.resume",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Application resume initiated."
                                            ]
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "null"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "errors"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Application is not suspended."
                                                    ]
                                                },
                                                "errors": {
                                                    "type": "null"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "errors"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/export-yaml": {
            "get": {
                "operationId": "applications.export-yaml",
                "description": "Export the current application configuration as a YAML file compatible with the\ninfrastructure apply endpoint. The exported YAML includes application settings,\nrepository configuration, runtime, commands, services, secrets, domains, and volumes.\n\nThis YAML can be re-imported via `POST \/api\/v1\/infrastructure\/apply` to recreate\nor update the application configuration.",
                "summary": "Export application YAML definition",
                "tags": [
                    "Application"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/autoscaling-history": {
            "get": {
                "operationId": "applications.autoscaling-history",
                "tags": [
                    "ApplicationAutoscaling"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "range",
                        "in": "query",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ],
                            "enum": [
                                "1h",
                                "6h",
                                "24h",
                                "7d"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "range": {
                                                    "type": "string"
                                                },
                                                "start_time": {
                                                    "type": "string"
                                                },
                                                "end_time": {
                                                    "type": "string"
                                                },
                                                "autoscaling_enabled": {
                                                    "type": "boolean"
                                                },
                                                "configured_replicas": {
                                                    "type": "string"
                                                },
                                                "max_replicas": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "integer",
                                                            "enum": [
                                                                3
                                                            ]
                                                        }
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "range",
                                                "start_time",
                                                "end_time",
                                                "autoscaling_enabled",
                                                "configured_replicas",
                                                "max_replicas"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/autoscaling-metrics": {
            "get": {
                "operationId": "applications.autoscaling-metrics",
                "tags": [
                    "ApplicationAutoscaling"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": [
                                                        "array",
                                                        "null"
                                                    ],
                                                    "items": {}
                                                }
                                            },
                                            "required": [
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "null"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "autoscaling_enabled": {
                                                            "type": "boolean"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "enum": [
                                                                "Autoscaling is not enabled for this application",
                                                                "Unable to retrieve metrics from cluster"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "autoscaling_enabled",
                                                        "message"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/build-config": {
            "get": {
                "operationId": "applications.build-config.index",
                "description": "Retrieve the current build and initialization commands for the application. Build commands\nrun during image construction, while init commands run each time the application starts.",
                "summary": "Get build configuration",
                "tags": [
                    "ApplicationBuild"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "patch": {
                "operationId": "applications.build-config.update",
                "description": "Update the build and initialization commands for the application. Build commands execute\nduring image build with root permissions. Init commands run with application user\npermissions (UID\/GID 33) before starting the main process. Commands are executed sequentially\nand stop on first failure. Updating commands marks the application as needing deployment.",
                "summary": "Update build configuration",
                "tags": [
                    "ApplicationBuild"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "build_commands": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 1000
                                        }
                                    },
                                    "init_commands": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 1000
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/php-config": {
            "patch": {
                "operationId": "applications.php-config.update",
                "description": "Configure PHP version, extensions, and runtime settings for the application. Changes require\na new deployment to take effect. PHP settings are applied via custom php.ini configuration.\nExtensions are installed using the install-php-extensions tool during build.",
                "summary": "Update PHP configuration",
                "tags": [
                    "ApplicationBuild"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "php_version": {
                                        "type": "string",
                                        "enum": [
                                            "8.5",
                                            "8.4",
                                            "8.3",
                                            "8.2",
                                            "8.1",
                                            "8.0",
                                            "7.4"
                                        ]
                                    },
                                    "php_image_variant": {
                                        "type": "string",
                                        "enum": [
                                            "fpm-nginx",
                                            "frankenphp"
                                        ]
                                    },
                                    "start_command": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 500
                                    },
                                    "php_settings": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "php_extensions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 50
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/instances": {
            "get": {
                "operationId": "applications.instances",
                "description": "Retrieve all running pod instances for an application. Returns both web instances\nand scheduler instances (if scheduler is enabled). Each instance can be used\nas a target for command execution.",
                "summary": "List running instances",
                "tags": [
                    "ApplicationCommand"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/exec": {
            "post": {
                "operationId": "applications.exec",
                "description": "Execute a command in a running instance. The command is executed via the container's\nshell and the output is returned. All command executions are logged for audit purposes.\nCommands have a 120-second timeout.",
                "summary": "Execute command",
                "tags": [
                    "ApplicationCommand"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "instance": {
                                        "type": "string"
                                    },
                                    "command": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "instance",
                                    "command"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/command-history": {
            "get": {
                "operationId": "applications.command-history",
                "description": "Retrieve paginated command execution history for an application. Shows all commands\nthat have been executed, including their status, output, and who executed them.\nResults are ordered by execution time (newest first).",
                "summary": "Command history",
                "tags": [
                    "ApplicationCommand"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/debug": {
            "get": {
                "operationId": "applications.debug.show",
                "description": "Retrieve comprehensive debug information for an application including build issues,\ninstance issues, deployment problems, and recommendations.",
                "summary": "Get debug information",
                "tags": [
                    "ApplicationDebug"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/debug\/summary": {
            "get": {
                "operationId": "applications.debug.summary",
                "description": "Get a quick summary of the application's health status with critical issue count.",
                "summary": "Get debug summary",
                "tags": [
                    "ApplicationDebug"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/domains": {
            "get": {
                "operationId": "applications.domains.index",
                "description": "Retrieve all custom domains associated with an application. Does not include the primary\napplication domain (e.g., app-name.test.ploi.it). Each domain automatically receives an\nSSL certificate via Let's Encrypt after deployment.",
                "summary": "List application domains",
                "tags": [
                    "ApplicationDomain"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "applications.domains.store",
                "description": "Add a custom domain to the application. The domain must be properly configured with DNS\npointing to the platform's load balancer before adding. SSL certificates are automatically\nprovisioned via Let's Encrypt during the next deployment, unless `force_apply` is set\nto `true` \u2014 in which case the domain is activated and SSL provisioning begins immediately\nwithout requiring a deployment.",
                "summary": "Add application domain",
                "tags": [
                    "ApplicationDomain"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "domain": {
                                        "type": "string"
                                    },
                                    "force_apply": {
                                        "type": "boolean"
                                    },
                                    "skip_dns_check": {
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "domain"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/domains\/{domain}": {
            "delete": {
                "operationId": "applications.domains.destroy",
                "description": "Remove a custom domain from the application. By default the application must be\nredeployed for the change to take effect. Set `force_apply` to `true` to immediately\nupdate routing \u2014 if this was the last custom domain, the application's preview domain\nis automatically restored.",
                "summary": "Remove application domain",
                "tags": [
                    "ApplicationDomain"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "path",
                        "required": true,
                        "description": "The domain ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "force_apply",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/domains\/{domain}\/ssl-status": {
            "get": {
                "operationId": "applications.domains.ssl-status",
                "description": "Retrieve the SSL certificate status for a specific domain. Shows certificate issuer,\nexpiration date, and whether auto-renewal is enabled. Certificates are managed by\ncert-manager and automatically renewed 30 days before expiration.",
                "summary": "Get domain SSL status",
                "tags": [
                    "ApplicationDomain"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "domain",
                        "in": "path",
                        "required": true,
                        "description": "The domain ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/networks": {
            "get": {
                "operationId": "v1.applications.networks.index",
                "tags": [
                    "ApplicationNetwork"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "networks": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "networks"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "v1.applications.networks.update",
                "tags": [
                    "ApplicationNetwork"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "network_ids": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {
                                            "type": "integer"
                                        },
                                        "maxItems": 3
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Network memberships updated. NetworkPolicy will be updated on next deployment."
                                            ]
                                        },
                                        "network_ids": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "network_ids"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/accessible-services": {
            "get": {
                "operationId": "v1.applications.accessible-services",
                "tags": [
                    "ApplicationNetwork"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "services": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "services"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/secrets": {
            "get": {
                "operationId": "applications.secrets.index",
                "description": "Retrieve all environment variables configured for an application. Secret values are always\nmasked as '********' in API responses for security. Secrets are encrypted at rest in the\ndatabase. Changes to secrets require a new deployment to take effect.",
                "summary": "List application secrets",
                "tags": [
                    "ApplicationSecret"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "applications.secrets.store",
                "description": "Add a new environment variable to the application. Secret keys must be uppercase letters,\nnumbers, and underscores only. Values are encrypted before storage. All secrets are\npassed as build arguments during image construction and injected as environment variables\nat runtime.",
                "summary": "Create application secret",
                "tags": [
                    "ApplicationSecret"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "value": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "key",
                                    "value"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/secrets\/{key}": {
            "put": {
                "operationId": "applications.secrets.update",
                "description": "Update the value of an existing environment variable. The key cannot be changed - to rename\na secret, delete and recreate it. Updating a secret automatically marks the application as\nneeding deployment. The new value will be encrypted before storage.",
                "summary": "Update application secret",
                "tags": [
                    "ApplicationSecret"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "value": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "value"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "applications.secrets.destroy",
                "description": "Remove an environment variable from the application. This action cannot be undone.\nDeleting a secret automatically marks the application as needing deployment. The\nsecret will be removed from the application environment on the next deployment.",
                "summary": "Delete application secret",
                "tags": [
                    "ApplicationSecret"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/secrets\/injected": {
            "get": {
                "operationId": "applications.secrets.injected",
                "description": "Retrieve environment variables automatically injected by application services such as\ndatabases, caches, and other services. These are not user-defined secrets but are\ngenerated by the platform based on the services attached to the application. Values\nare shown in plain text as they are not user secrets.",
                "summary": "Get injected secrets",
                "tags": [
                    "ApplicationSecret"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/services": {
            "get": {
                "operationId": "v1.applications.services.index",
                "description": "Retrieve all services associated with an application. Services include databases (MySQL, PostgreSQL, MongoDB),\ncaches (Redis, Valkey), message queues (RabbitMQ), object storage (MinIO), background workers, and SFTP servers.\nEach service runs in the same application environment and automatically injects environment\nvariables into the main application.",
                "summary": "List application services",
                "tags": [
                    "ApplicationService"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        200
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "v1.applications.services.store",
                "description": "Add a new service to an application. Services run as separate services in the same environment and\nautomatically inject connection details as environment variables. Database services create persistent\nvolumes for data storage. Worker services share the same application image and volumes as the main application.",
                "summary": "Create application service",
                "tags": [
                    "ApplicationService"
                ],
                "parameters": [
                    {
                        "name": "application",
                        "in": "path",
                        "required": true,
                        "description": "The application ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/StoreApplicationServiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "integer",
                                    "enum": [
                                        201
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#\/components\/responses\/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#\/components\/responses\/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#\/components\/responses\/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#\/components\/responses\/ValidationException"
                    }
                }
            }
        },
        "\/applications\/{application}\/services\/{service}": {
            "delete": {
                "operationId": "v1.applications.services.destroy",
[...]
